/* Contenu de la page liste_utilisateurs.css */
/* Elle s'applique aux pages list_user.html et groupe.html */

h1,
p,
table {
    margin: 30px 0;
}

h1, p {
    text-align: center;
}

/* Lorsque le tableau dépasse le viewpoint, on ajoute une barre de scroll */

.container-tableau {
    overflow-x: auto;
}

table {
    border-collapse: collapse;
    margin: auto;
}

table a {
    color: inherit;
    font-weight: 500;
}

th, td {
    border: 1px solid black;
    padding: 20px;
}

/* Changer la couleur de fon */
td {
    transition: .6s;
}

/* Changer la couleur de fond de la première rangée */
table thead tr {
    background-color: #e6f0fa;
    color: #003366;
}

table tbody tr:nth-child(odd) {
    background-color: #ffffff;
}

table tbody tr:nth-child(even) {
    background-color: #f8f9fa;
}

table tr:hover td {
    background-color: #e9f0f4;
}

.container-links {
    display: flex;
    gap: 10px;
}


td a {
    display: inline-block;
    padding: 10px;
    border-radius: 10px;
    color: white;
}

/* Style pour les bouttons modifier et supprimer (liste des adhérents). Ce sont ceux présents dans la colonne action*/
/* .btn-modifier, et .btn-supprimer sont issus de list_user.html */
/* .btn-ajouter-add et .btn-sppr.add sont issues de groupe.html */

.btn-modifier,
.btn-ajouter-add {
    background-color: #0066cc;
    transition: all .4s;
}

.btn-modifier:hover,
.btn-ajouter-add:hover {
    background-color: #204f81;
}

.btn-supprimer,
.btn-suppr-add {
    background-color: #FF4D4D;
    transition: all .4s;
}

.btn-supprimer:hover,
.btn-suppr-add:hover {
    background-color: #ab4747;
}

.btn-suppr-grp {
    background-color: green;
    transition: all .4s;
}

.btn-suppr-grp:hover {
    background-color: #206520;
}